
@media (min-width: 1201px) and (orientation: landscape) {
  #contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Landscape.jpg);
    background-size: cover;
    height: 800px;
    width: 1400px;
    position: relative;
  }
  
#gatito {
  background-image: url(../img/kitten-medium.png);
  background-size: cover;
  height: 55%;
  width: 50%;
  
}
}

@media (max-width: 1200px) and (min-width: 769px) {
  #contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/dawn.png);
    background-size: cover;
    height: 600px;
    width: 1200px;
    position: relative;
  }
  
#gatito {
  background-image: url(../img/kitten-medium.png);
  background-size: cover;
  height: 40%;
  width: 33%;
  
} 
}

@media (max-width: 768px) and (min-width: 321px) {
  #contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/dawn.png);
    background-size: cover;
    height: 400px;
    width: 768px;
    position: relative;
  }
  
  #gatito {
    background-image: url(../img/kitten-large.png);
    background-size: cover;
    height: 21%;
    width: 23%;
  
  } 
}

@media (max-width: 320px) and (min-width: 0px) {  
  #contenedorImagen {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/maxresdefault.jpg);
    background-size: cover;
    height: 200px;
    width: 320px;
    position: relative;
  }
  
  #gatito {
    background-image: url(../img/kitten-small.png);
    background-size: cover;
    height: 45%;
    width: 30%;
  
  } 
}

.container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.row:before, .row:after{
  content: " ";
  display: table;
}
.row:after{
  clear: both;
}

[class*="col-"]{
  min-height: 7px;
  float: left;
}

.col-12{
  width: 100%;
}
